
[*]
charset=utf-8
end_of_line=crlf
trim_trailing_whitespace=false
insert_final_newline=false
indent_style=space
indent_size=4

# Microsoft .NET properties
csharp_indent_braces=false
csharp_indent_switch_labels=true
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_open_brace=all
csharp_new_line_between_query_expression_clauses=true
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_preserve_single_line_blocks=true
csharp_space_after_cast=false
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false
csharp_style_var_elsewhere=true:hint
csharp_style_var_for_built_in_types=true:hint
csharp_style_var_when_type_is_apparent=true:hint
csharp_using_directive_placement=outside_namespace:silent
dotnet_style_predefined_type_for_locals_parameters_members=false:warning
dotnet_style_predefined_type_for_member_access=false:hint
dotnet_style_qualification_for_event=false:hint
dotnet_style_qualification_for_field=false:hint
dotnet_style_qualification_for_method=false:hint
dotnet_style_qualification_for_property=false:hint
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_accessor_owner_body=expression_body
resharper_alignment_tab_fill_style=use_spaces
resharper_align_first_arg_by_paren=false
resharper_align_linq_query=false
resharper_align_multiline_array_and_object_initializer=false
resharper_align_multiline_array_initializer=true
resharper_align_multiline_binary_expressions_chain=true
resharper_align_multiline_calls_chain=false
resharper_align_multiline_extends_list=false
resharper_align_multiline_for_stmt=false
resharper_align_multiline_implements_list=true
resharper_align_multiline_switch_expression=false
resharper_align_multline_type_parameter_constrains=false
resharper_align_multline_type_parameter_list=false
resharper_align_tuple_components=false
resharper_allow_alias=true
resharper_allow_comment_after_lbrace=false
resharper_always_use_end_of_line_brace_style=false
resharper_apply_on_completion=false
resharper_arguments_anonymous_function=positional
resharper_arguments_literal=positional
resharper_arguments_named=positional
resharper_arguments_other=positional
resharper_arguments_skip_single=false
resharper_arguments_string_literal=positional
resharper_attribute_style=do_not_touch
resharper_autodetect_indent_settings=true
resharper_blank_lines_after_block_statements=1
resharper_blank_lines_after_case=0
resharper_blank_lines_after_control_transfer_statements=0
resharper_blank_lines_after_imports=1
resharper_blank_lines_after_multiline_statements=0
resharper_blank_lines_after_options=1
resharper_blank_lines_after_start_comment=1
resharper_blank_lines_after_using_list=1
resharper_blank_lines_around_auto_property=1
resharper_blank_lines_around_block_case_section=0
resharper_blank_lines_around_field=1
resharper_blank_lines_around_global_attribute=0
resharper_blank_lines_around_invocable=1
resharper_blank_lines_around_local_method=1
resharper_blank_lines_around_multiline_case_section=0
resharper_blank_lines_around_namespace=1
resharper_blank_lines_around_property=1
resharper_blank_lines_around_razor_functions=1
resharper_blank_lines_around_razor_helpers=1
resharper_blank_lines_around_razor_sections=1
resharper_blank_lines_around_region=1
resharper_blank_lines_around_single_line_auto_property=0
resharper_blank_lines_around_single_line_field=0
resharper_blank_lines_around_single_line_invocable=0
resharper_blank_lines_around_single_line_local_method=0
resharper_blank_lines_around_single_line_property=0
resharper_blank_lines_around_type=1
resharper_blank_lines_before_block_statements=0
resharper_blank_lines_before_case=0
resharper_blank_lines_before_control_transfer_statements=0
resharper_blank_lines_before_multiline_statements=0
resharper_blank_lines_before_single_line_comment=0
resharper_blank_lines_between_using_groups=0
resharper_blank_lines_inside_namespace=0
resharper_blank_lines_inside_region=1
resharper_blank_lines_inside_type=0
resharper_blank_line_after_pi=true
resharper_braces_for_dowhile=required
resharper_braces_for_fixed=required
resharper_braces_for_for=not_required
resharper_braces_for_foreach=not_required
resharper_braces_for_ifelse=not_required_for_both
resharper_braces_for_lock=required
resharper_braces_for_using=required
resharper_braces_for_while=not_required
resharper_braces_redundant=true
resharper_can_use_global_alias=true
resharper_constructor_or_destructor_body=block_body
resharper_continuous_indent_multiplier=1
resharper_csharp_align_multiline_argument=false
resharper_csharp_align_multiline_expression=false
resharper_csharp_align_multiline_parameter=false
resharper_csharp_align_multiple_declaration=false
resharper_csharp_prefer_qualified_reference=false
resharper_delete_quotes_from_solid_values=false
resharper_disable_blank_line_changes=false
resharper_disable_formatter=false
resharper_disable_indenter=false
resharper_disable_int_align=false
resharper_disable_line_break_changes=false
resharper_disable_line_break_removal=false
resharper_disable_space_changes=false
resharper_empty_block_style=multiline
resharper_enable_wrapping=false
resharper_enforce_line_ending_style=true
resharper_extra_spaces=remove_all
resharper_force_attribute_style=separate
resharper_force_chop_compound_do_expression=false
resharper_force_chop_compound_if_expression=false
resharper_force_chop_compound_while_expression=false
resharper_format_leading_spaces_decl=false
resharper_html_attribute_indent=align_by_first_attribute
resharper_html_linebreak_before_elements=body,div,p,form,h1,h2,h3
resharper_html_max_blank_lines_between_tags=2
resharper_html_pi_attribute_style=on_single_line
resharper_html_space_before_self_closing=false
resharper_ignore_space_preservation=false
resharper_indent_anonymous_method_block=false
resharper_indent_case_from_select=true
resharper_indent_child_elements=OneIndent
resharper_indent_inside_namespace=true
resharper_indent_invocation_pars=inside
resharper_indent_method_decl_pars=inside
resharper_indent_nested_fixed_stmt=false
resharper_indent_nested_foreach_stmt=false
resharper_indent_nested_for_stmt=false
resharper_indent_nested_lock_stmt=false
resharper_indent_nested_usings_stmt=false
resharper_indent_nested_while_stmt=false
resharper_indent_on_try_with=false
resharper_indent_pars=inside
resharper_indent_preprocessor_if=no_indent
resharper_indent_preprocessor_other=no_indent
resharper_indent_preprocessor_region=usual_indent
resharper_indent_statement_pars=inside
resharper_indent_text=OneIndent
resharper_indent_typearg_angles=inside
resharper_indent_typeparam_angles=inside
resharper_indent_type_constraints=true
resharper_instance_members_qualify_declared_in=this_class, base_class
resharper_int_align=false
resharper_keep_blank_lines_in_code=2
resharper_keep_blank_lines_in_declarations=2
resharper_keep_existing_attribute_arrangement=false
resharper_keep_existing_declaration_block_arrangement=false
resharper_keep_existing_declaration_parens_arrangement=true
resharper_keep_existing_embedded_arrangement=true
resharper_keep_existing_embedded_block_arrangement=false
resharper_keep_existing_enum_arrangement=false
resharper_keep_existing_expr_member_arrangement=true
resharper_keep_existing_invocation_parens_arrangement=true
resharper_keep_existing_switch_expression_arrangement=true
resharper_keep_nontrivial_alias=true
resharper_keep_user_linebreaks=true
resharper_keep_user_wrapping=true
resharper_linebreaks_around_razor_statements=true
resharper_linebreaks_inside_tags_for_elements_longer_than=2147483647
resharper_linebreaks_inside_tags_for_elements_with_child_elements=true
resharper_linebreaks_inside_tags_for_multiline_elements=true
resharper_linebreak_before_all_elements=false
resharper_linebreak_before_multiline_elements=true
resharper_linebreak_before_singleline_elements=false
resharper_local_function_body=block_body
resharper_max_array_initializer_elements_on_line=10000
resharper_max_attribute_length_for_same_line=38
resharper_max_enum_members_on_line=3
resharper_max_formal_parameters_on_line=10000
resharper_max_initializer_elements_on_line=4
resharper_max_invocation_arguments_on_line=10000
resharper_method_or_operator_body=block_body
resharper_nested_ternary_style=autodetect
resharper_new_line_before_while=false
resharper_normalize_tag_names=false
resharper_no_indent_inside_elements=html,body,thead,tbody,tfoot
resharper_no_indent_inside_if_element_longer_than=200
resharper_old_engine=false
resharper_outdent_binary_ops=false
resharper_outdent_commas=false
resharper_outdent_dots=false
resharper_outdent_ternary_ops=false
resharper_parentheses_non_obvious_operations=shift, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise
resharper_parentheses_redundancy_style=remove_if_not_clarifies_precedence
resharper_pi_attributes_indent=align_by_first_attribute
resharper_place_accessorholder_attribute_on_same_line=if_owner_is_single_line
resharper_place_accessor_attribute_on_same_line=if_owner_is_single_line
resharper_place_constructor_initializer_on_same_line=true
resharper_place_event_attribute_on_same_line=false
resharper_place_expr_accessor_on_single_line=if_owner_is_single_line
resharper_place_expr_method_on_single_line=if_owner_is_single_line
resharper_place_expr_property_on_single_line=if_owner_is_single_line
resharper_place_field_attribute_on_same_line=True
resharper_place_linq_into_on_new_line=true
resharper_place_method_attribute_on_same_line=False
resharper_place_property_attribute_on_same_line=false
resharper_place_simple_case_statement_on_same_line=False
resharper_place_simple_embedded_statement_on_same_line=if_owner_is_single_line
resharper_place_simple_initializer_on_single_line=true
resharper_place_simple_switch_expression_on_single_line=false
resharper_place_type_attribute_on_same_line=False
resharper_place_type_constraints_on_same_line=true
resharper_prefer_explicit_discard_declaration=false
resharper_prefer_separate_deconstructed_variables_declaration=false
resharper_preserve_end_of_line=true
resharper_preserve_spaces_inside_tags=pre,textarea
resharper_qualified_using_at_nested_scope=false
resharper_quote_style=doublequoted
resharper_razor_prefer_qualified_reference=true
resharper_remove_blank_lines_near_braces_in_code=true
resharper_remove_blank_lines_near_braces_in_declarations=true
resharper_remove_this_qualifier=true
resharper_reorder_open_declarations=false
resharper_resx_attribute_indent=single_indent
resharper_resx_linebreak_before_elements=
resharper_resx_max_blank_lines_between_tags=0
resharper_resx_pi_attribute_style=do_not_touch
resharper_resx_space_before_self_closing=false
resharper_resx_wrap_tags_and_pi=false
resharper_resx_wrap_text=false
resharper_semicolon_at_end_of_line=false
resharper_sort_attributes=false
resharper_sort_class_selectors=false
resharper_sort_usings=true
resharper_sort_usings_lowercase_first=false
resharper_sort_usings_with_system_first=true
resharper_spaces_around_eq_in_attribute=false
resharper_spaces_around_eq_in_pi_attribute=false
resharper_spaces_inside_tags=false
resharper_space_after_attributes=true
resharper_space_after_attribute_target_colon=true
resharper_space_after_colon=true
resharper_space_after_colon_in_case=true
resharper_space_after_comma=true
resharper_space_after_last_attribute=false
resharper_space_after_last_pi_attribute=false
resharper_space_after_operator_keyword=true
resharper_space_after_semicolon=true
resharper_space_after_triple_slash=true
resharper_space_after_type_parameter_constraint_colon=true
resharper_space_after_unary_operator=false
resharper_space_around_additive_op=true
resharper_space_around_alias_eq=true
resharper_space_around_assignment_op=true
resharper_space_around_delimiter=true
resharper_space_around_lambda_arrow=true
resharper_space_around_member_access_operator=false
resharper_space_around_relational_op=true
resharper_space_around_shift_op=true
resharper_space_around_stmt_colon=true
resharper_space_around_ternary_operator=true
resharper_space_before_argument=true
resharper_space_before_array_rank_parentheses=false
resharper_space_before_attribute_target_colon=false
resharper_space_before_checked_parentheses=false
resharper_space_before_colon=false
resharper_space_before_colon_in_case=false
resharper_space_before_comma=false
resharper_space_before_default_parentheses=false
resharper_space_before_empty_invocation_parentheses=false
resharper_space_before_empty_method_parentheses=false
resharper_space_before_invocation_parentheses=false
resharper_space_before_label_colon=false
resharper_space_before_method_parentheses=false
resharper_space_before_nameof_parentheses=false
resharper_space_before_nullable_mark=false
resharper_space_before_pointer_asterik_declaration=false
resharper_space_before_semicolon=false
resharper_space_before_singleline_accessorholder=true
resharper_space_before_sizeof_parentheses=false
resharper_space_before_trailing_comment=true
resharper_space_before_typeof_parentheses=false
resharper_space_before_type_argument_angle=false
resharper_space_before_type_parameter_angle=false
resharper_space_before_type_parameter_constraint_colon=true
resharper_space_before_type_parameter_parentheses=true
resharper_space_between_accessors_in_singleline_property=true
resharper_space_between_attribute_sections=true
resharper_space_between_keyword_and_expression=true
resharper_space_between_keyword_and_type=true
resharper_space_in_singleline_accessorholder=true
resharper_space_in_singleline_anonymous_method=true
resharper_space_in_singleline_method=true
resharper_space_near_postfix_and_prefix_op=false
resharper_space_within_array_initialization_braces=false
resharper_space_within_array_rank_empty_parentheses=false
resharper_space_within_array_rank_parentheses=false
resharper_space_within_attribute_angles=false
resharper_space_within_checked_parentheses=false
resharper_space_within_default_parentheses=false
resharper_space_within_empty_braces=true
resharper_space_within_empty_invocation_parentheses=false
resharper_space_within_empty_method_parentheses=false
resharper_space_within_expression_parentheses=false
resharper_space_within_invocation_parentheses=false
resharper_space_within_method_parentheses=false
resharper_space_within_nameof_parentheses=false
resharper_space_within_single_line_array_initializer_braces=false
resharper_space_within_sizeof_parentheses=false
resharper_space_within_tuple_parentheses=false
resharper_space_within_typeof_parentheses=false
resharper_space_within_type_argument_angles=false
resharper_space_within_type_parameter_angles=false
resharper_space_within_type_parameter_parentheses=false
resharper_special_else_if_treatment=true
resharper_static_members_qualify_members=none
resharper_static_members_qualify_with=do_not_change, declared_type
resharper_stick_comment=true
resharper_use_continuous_indent_inside_initializer_braces=true
resharper_use_continuous_indent_inside_parens=true
resharper_use_heuristics_for_body_style=true
resharper_use_indents_from_main_language_in_file=true
resharper_use_indent_from_previous_element=true
resharper_use_indent_from_vs=false
resharper_vb_align_multiline_argument=true
resharper_vb_align_multiline_expression=true
resharper_vb_align_multiline_parameter=true
resharper_vb_align_multiple_declaration=true
resharper_vb_place_field_attribute_on_same_line=true
resharper_vb_place_method_attribute_on_same_line=false
resharper_vb_place_type_attribute_on_same_line=false
resharper_vb_prefer_qualified_reference=false
resharper_vb_space_around_multiplicative_op=false
resharper_wrap_after_declaration_lpar=false
resharper_wrap_after_dot_in_method_calls=false
resharper_wrap_after_invocation_lpar=false
resharper_wrap_arguments_style=wrap_if_long
resharper_wrap_around_elements=true
resharper_wrap_array_initializer_style=wrap_if_long
resharper_wrap_before_arrow_with_expressions=false
resharper_wrap_before_binary_opsign=false
resharper_wrap_before_comma=false
resharper_wrap_before_declaration_lpar=false
resharper_wrap_before_declaration_rpar=false
resharper_wrap_before_extends_colon=false
resharper_wrap_before_first_type_parameter_constraint=false
resharper_wrap_before_invocation_lpar=false
resharper_wrap_before_invocation_rpar=false
resharper_wrap_before_linq_expression=false
resharper_wrap_before_ternary_opsigns=true
resharper_wrap_before_type_parameter_langle=false
resharper_wrap_chained_binary_expressions=wrap_if_long
resharper_wrap_chained_method_calls=wrap_if_long
resharper_wrap_enum_declaration=chop_always
resharper_wrap_extends_list_style=wrap_if_long
resharper_wrap_for_stmt_header_style=chop_if_long
resharper_wrap_lines=true
resharper_wrap_multiple_declaration_style=chop_if_long
resharper_wrap_multiple_type_parameter_constraints_style=chop_if_long
resharper_wrap_object_and_collection_initializer_style=chop_if_long
resharper_wrap_parameters_style=wrap_if_long
resharper_wrap_switch_expression=chop_always
resharper_wrap_ternary_expr_style=chop_if_long
resharper_wrap_verbatim_interpolated_strings=no_wrap
resharper_xmldoc_attribute_indent=single_indent
resharper_xmldoc_linebreak_before_elements=summary,remarks,example,returns,param,typeparam,value,para
resharper_xmldoc_max_blank_lines_between_tags=0
resharper_xmldoc_pi_attribute_style=do_not_touch
resharper_xmldoc_space_before_self_closing=true
resharper_xmldoc_wrap_tags_and_pi=true
resharper_xmldoc_wrap_text=true
resharper_xml_attribute_indent=align_by_first_attribute
resharper_xml_linebreak_before_elements=
resharper_xml_max_blank_lines_between_tags=2
resharper_xml_pi_attribute_style=do_not_touch
resharper_xml_space_before_self_closing=true
resharper_xml_wrap_tags_and_pi=true
resharper_xml_wrap_text=false

[{.stylelintrc,.eslintrc,.babelrc,jest.config,*.uproject,*.json,*.bowerrc,*.jsb3,*.jsb2}]
indent_style=space
indent_size=2

[*.less]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[*.{appxmanifest,asax,ascx,aspx,build,cs,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4

[*.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = warning

# CA1052: Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = suggestion

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = false:silent
